*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 1rem 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #4472c4;
}
header div{
    margin-left: 15rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
header input{
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}
header button{
    font-size: 1rem;
    padding:0 2rem;
    color:#4472c4 ;
    font-weight: bold;
    border-radius: 5px;
    /* padding */
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
header p{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

main{
    display: flex;
    /* border: 1px solid black; */
}
aside{
    width: 20vw;
    height: 90vh;
    border-right: 5px solid black;
}
section{
    width: 80vw;
    min-height: 85vh;
    margin: 1rem;
    border: 1px solid black;
}
/* ========================================================================== */
.sidebar{
    margin:5rem auto;
    width: 80%;
    /* border: 1px solid black; */
}



.citydropdown{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: #4472c4;
    color: #ffffff;
    border: 1px solid black;
}
.citynames p{
    padding: 0.5rem;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.3rem;
    border-collapse: collapse;
}
.getweatherbtn{
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    background-color: #4472c4;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}
.hide{
    display: none;
}
/* ==================================================================== */
.card{
    /* width: 40%; */
    border: 1px solid black;
    height: 200px;
    border-radius: 10px;
}
.cardbox{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    
}
.card h2 {
margin: 10px 0;
text-align: center;
background-color: #4472c4;
padding: 5px 0;
color: #ffffff;
}
.crossbtn{
    text-align: right;
    padding: 5px;
    color: #4472c4;
    font-weight: bold;
    cursor: pointer;
}
.details{
   display: flex;
    margin:0 10px ;
 
    /* border: 1px solid black; */
}
.details div{
    padding: 5px 0;
   width: 40%;
}
.details div p{
    padding: 3px 0;
}
.borderchang{
    border: 3px solid green;
    border-radius: 10px;
}
.descrip{
    /* font-size: 1rem; */
    padding: 0 7px;
}