*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(47, 155, 163); */
}
body{
    text-align: center;
}
header{
    margin-top: 50px;
}
p{
    margin-bottom: 10px;
    color: red;
    height: 10px;
}
h2{
    margin-bottom: 20px;
}
.input_item{
    margin-bottom: 20px;
}
.item{
    margin-bottom: 10px; 
}