*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 1rem;
    display: flex;
    justify-content: end;
}
.weatherheadet{
    margin-right: 20rem;
}
header button{
    margin-right: 4rem;
}


aside{
    height: 100vh;
    width: 20%;
    border-right: 1px solid black;
    padding-left: 4rem;
}

.dropdownbox{
display: flex;
}
.dropdownbox button{
margin-left: 2rem;
}
.hide{
    display: none;
}

main{
    display: flex;
    margin-top: 2rem;
}

.weatherDetais{
    display: flex;
}
.cards{
    width: 80%;
   display: grid;
   grid-template-columns: auto auto;
   border: 1px solid black;
   grid-gap: 50px;
   padding: 50px;
}
.card{
 height: 200px;
    border: 1px solid black;
}
.changeBorder{
    border: 10px solid green;
}